* {
    font-family: 'Staatliches' , sans-serif;
}
a {
    padding: 0;
    margin: 0;
    color: #F8B18B;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}
.cover {
    background: url("../images/aura.jpeg");
    min-height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative;
    max-height: 650px;
}
.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    padding-top: 90px;
}
.menu {
    margin-top: 50px;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline-block;
    padding: 20px;
    font-size: 1.35em;
    transition: 0.4s;
}
.menu ul li:hover {
    background-color: #EDDEA4;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 2px 10px 20px rgba( 0, 0, 0, 0.2);
}
.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.content {
    background: #00A7E1;
    padding: 0;
    margin: 0;
}
.music {
    background: #00A7E1;
    color: #EDDEA4 ;
    text-shadow: 1px 1px 2px #000;
}
.footer.content {
    background: #EDDEA4 ;
    text-align: center;
}
.about.content {
    background: #00A7E1;
    text-shadow: 1px 1px 2px #000;
}
p{
    color:#F8B18B;
    text-shadow: 1px 1px 2px #000;
}
.profile-img {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background: url("../images/pfp.jpeg");
    background-size: cover;
    border: 5px solid white;
    box-shadow: 2px 2px 30px rgba( 0, 0, 0, 0.5);
    transition:0.3s;
    border-radius: 50%;
}
.profile-img:hover {
    transform: scale(1.05) translateY(-30px);
    box-shadow: 2px 30px 100px rgba( 0, 0, 0, 0.2);
}
h1 {
    color: #FF9B42;
    text-shadow: 1px 1px 2px #000;
}
.book{
    height: 315px;
    width: 250px;
}
h3{
  font-size: 10px;
    text-align: center;
}
#books h3{
    color: #F8B18B;
    text-shadow: 1px 1px 2px #000;
}
.books img:hover{
    background-color: #EDDEA4;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 2px 10px 20px rgba( 0, 0, 0, 0.2);
}
#contact h4{
    color: #F8B18B;
    text-shadow: 1px 1px 2px #000;
}
#footer img{
    display: flex;
   justify-items: center;
    position: relative;
    left: 235px;

}
